<% Books.forEach(s=>
    { %>
    <div class="books">
        <table>
            <tr>
                <td>
                    <a href="./books/<%= s.id %>"><img src="<%= s.img %>" alt="<%= s.name %>" id="thumbnail"></a>
                </td>
                <td>
                    <a href="./books/<%= s.id %>">
                        <h2>
                            <%= s.name %>
                        </h2>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <% }); %>